<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NFL Home Page</title>
  </head>

  <h1>NFL Home Page<h1>
    <body>
        <p>Team: Wins - Losses</p>
        <a href = '/leaderboard'>Leaderboard</a>
        <ul>
        </ul>
    </body>
</html>
